#tooltip {
    position: absolute;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 9999;
  }

  /* CSS styles for the legend container */
  .legend-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: black;
    /* Add additional styling to make the legend static */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  /* CSS styles for the legend title */
  .legend-title {
    font-weight: bold;
    margin-bottom: 5px;
    align-self: center;
  }

  /* CSS styles for each legend item */
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    color: black;
  }

  /* CSS styles for the colored boxes in the legend */
  .legend-color {
    position: relative;
    width: 75px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
  }

  /* CSS styles for the legend values */
  .legend-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }

  /* Additional CSS styles for the map container and SVG */
  .legend-item:hover .legend-value {
    opacity: 1;
  }

  body {
    margin: 0;
    overflow: hidden;
  }

  #map-container {
    /* Adjust the padding to leave space for the legend */
    padding-bottom: 100px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: relative;
  }

  /* Position the legend div */
  #legend {
    /* Adjust the position to place the legend where you want it */
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 999;
  }

  #map {
    position: absolute;
  }